// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Regular.ttf');
//   font-weight: 400;
// }

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue Regular.otf');
  font-weight: 400;
}

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/bebasneuecyrillic.ttf');
//   font-weight: 400;
// }


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf.ttf');
  font-weight: 500;
}