// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: 'Bebas Neue', sans-serif;
  // font-family: 'Roboto', sans-serif;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  background-image: url('../img/body-bg.svg');

  &.locked {
    overflow: hidden;
  }
}

.section {
  margin-bottom: 180px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 90px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 60px;
  }
}

.main-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 72px;
  color: #DC2C24;

  @media (max-width: $breakpoint992) {
    font-size: 60px;
  }

  @media (max-width: $breakpoint768) {
    flex-wrap: wrap;
    font-size: 40px;
  }
}

.main-title__big {
  margin-bottom: -20px;
  font-size: 172px;

  @media (max-width: $breakpoint992) {
    margin-bottom: -17px;
    font-size: 140px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: -12px;
    font-size: 100px;
  }
}

.main-title__green {
  margin-left: 20px;
  color: #005727;

  @media (max-width: $breakpoint768) {
    margin-left: 15px;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}