.section {}

.mission {

  // .mission__inner

  &__inner {}

  // .mission__title

  &__title {
    @media (max-width: $breakpoint992) {
      margin-bottom: 45px;
    }
  }

  // .mission__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 20px;
  }

  // .mission__picture

  &__picture {
    margin-top: -50px;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .mission__info

  &__info {
    flex: 0 1 640px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    color: #005727;
    text-align: justify;
    font-family: 'Roboto', sans-serif;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  // .mission__info-label

  &__info-label {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;

    @media (max-width: $breakpoint992) {
      text-align: center;
      font-size: 22px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .mission__info-descr

  &__info-descr {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

}